body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#loading {
  transition: all 1s;
  background-color: #0bd;
  position: fixed;
  top: 0;
  z-index: 10;
  img {
    width: 100vw;
    height: 100vh;
  }
}

.loaded {
  visibility: hidden;
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: #fff;
  // shodow
  // position: relative;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

  h1 {
    margin: 0;
    padding: 0 0 0 32px;
    color: #555;
  }

  .nav-list {
    margin: 0;
    padding: 0 32px 0 0;
    display: flex;
  
    .nav-list-item {
      padding: 12px 16px;
      list-style: none;
  
      .link {
        line-height: 2;
        font-size: 1.4rem;
        font-weight: bold;
        color: #5CBEE4;
        text-decoration: none;
      }
  
      .paypay {
        color: #FF0034;
      }
      
      .line {
        color: #00C34D;
      }
      
      .origami {
        color: #FF5B1A;
      }
      
      .merpay {
        color: #FF0111;
      }
      
      .docomo {
        color: #CC0133;
      }
      
      .au {
        color: #EB5505;
      }
      
      .kyash {
        color: #2BD1FF;
      }
    }
  }

  .none {
    display: none;
  }
  
  .menu-trigger {
    margin: 0 16px 0 0;
    width: 50px;
    height: 44px;
    position: relative;

    .line {
      position: absolute;
      left: 0;
      width: 48px;
      height: 4px;
      border-radius: 4px;
      background-color: #000;
      transition: all .4s;

      &:nth-of-type(1) {
        top: 0;
      }

      &:nth-of-type(2) {
        top: 20px;
      }

      &:nth-of-type(3) {
        bottom: 0;
      }
    }
  }
  
  .active .line:nth-of-type(1) {
    transform: translateY(20px) rotate(-45deg); /* / */
  }
  
  .active .line:nth-of-type(2) {
    opacity: 0;
  }
  
  .active .line:nth-of-type(3) {
    transform: translateY(-20px) rotate(45deg); /* \ */
  }
}

main {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  .l-section { 
    padding: 90px 0 0 0;
    height: calc(100vh - 90px);
    scroll-snap-align: start;
    position: relative;
    background-color: #BAE6F3;

    .page-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 80px;
      font-weight: bold;
      color: #fff;
    }
  }
  .l-paypay {
    background-color: #FF0034;
  }
  
  .l-line {
    background-color: #00C34D;
  }
  
  .l-origami {
    background-color: #FF5B1A;
  }
  
  .l-merpay {
    background-color: #FF0111;
  }
  
  .l-docomo {
    background-color: #CC0133;
  }
  
  .l-au {
    background-color: #EB5505;
  }
  
  .l-kyash {
    background-color: #2BD1FF;
  }
}